* {
    background-color:#0A192F ;
    margin: 0;
    padding: 0;
    

    
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Mono&display=swap');



body {
    font-family: 'Inter', sans-serif;
    font-size:16px;
    
    
}


/*=============================================================
                HEADER
=============================================================*/


header {
    height:100px;
    color:#48b9a6;
    font-family:  'Roboto Mono', monospace;
    box-shadow: 0px 0px 6px 0px rgba(255, 255, 255, 0.5);
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top:0;
    left: 0;
}


.nav {
    height:100px;
    margin:auto;
    display:flex;
    align-items:center;
    font-family:  'Roboto Mono', monospace;
    
    
}


.logoimg img{
    width: 50px;
    height: 50px;
    padding-left: 80px;
}


.menu {
    flex:1;
    display:flex;
    justify-content: flex-end;
    padding-right: 80px;
    
}


.menu ul,
.menu li {
    list-style:none;
    display:flex;
}


.menu li a {
    color:#48b9a6;
    text-decoration: none;
    padding-left:20px;
    padding-right:20px;
    display:flex;
    align-items:center;
}


.menu li a:hover,
.menu .active a {
    border:#48b9a6 2px solid;
    border-radius: 4px;
    background-color: #133040;
}


/*=============================================================
                INTRODUÇÃO
=============================================================*/
main{
    color: white;
    margin: 0px auto;
    width: 100%; 
}


.section--1{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding-left: 100px;
    padding-top: 100px;
     
}


.myname{
    color: #48b9a6;
    font-size: 20px; 
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 30px;
}


.name{
    color: #CCD6F6;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


.build{
    color: #8892B0;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


.introduction{
    color: #8892B0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    padding-top: 30px;
    width: 400px;
}


.link{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;

}


.linkearea ,
.gitarea{
    display:flex;
    align-items:center;
    border: #48b9a6 2px solid;
    display: inline;
    border-radius: 4px;
    padding: 7px;
    text-align: center;
    padding-left: 10px;
    margin: 20px;
}


.linkearea a,
.gitarea a{
    text-decoration: none;
    color:#48b9a6;
    background-color: transparent;
    font-size: 20px;
    padding: 30px 20px;
    font-weight: bold;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}


.linkearea img,
.gitarea img{
    width: 20px;
    height: 20px;
    margin: 0;
    padding-top: 2px;
}

.gitarea:hover ,
.linkearea:hover{
    background-color: #133040; 
}


.space{
    padding-left: 30px;
}


.row{
    padding-bottom: 110px;
}

/*=============================================================
                SOBRE
=============================================================*/



.bar{
    display: block;
    top:-10px;
    width: 300px;
    height: 2px;
    margin-left: 600px;
    background-color:#CCD6F6;
}



.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    margin: 0;
    padding: 0;
}


.about h2{
    color: #48b9a6;
    font-family:  'Roboto Mono', monospace; 
}


.about--style{
    display: flex;
    flex-direction: row;
    
}

.about--text{
    width: 300px;
    padding-right: 200px;
    padding-top: 150px;
    color: #8892B0;
    
}
.about--image{
    padding-top: 100px;
}
.about--image img{
    width: 250px;
    margin: 20px;
    border: #48b9a6 4px solid;
    padding: 10px;
    background-image: linear-gradient(to right,  rgb(1, 253, 253) , rgb(253, 1, 253));
}


.about{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    padding: 0px;
    padding-bottom: 300px;
}


.about h2{
    color: #48b9a6;
    font-family:  'Roboto Mono', monospace;
}



/*=============================================================
               SKILLS
=============================================================*/

.cards{
   display: flex;
   
}

.box{
    width: 200px;
    height: 100px;
    padding: 20px;
    border:2px solid #48b9a6;
    margin: 10px;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-weight: bold;     
}
.box img {
    width: 50px;
    height: auto;
    padding-top: 10px;
    
    
    
}
.skills ,
.projetos ,
.contato h2{
    color: #48b9a6;
    font-family:  'Roboto Mono', monospace;
   
}

.skills,
.projetos,
.contato{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    padding: 0px;
    padding-bottom: 300px;
    margin: 0;
    

}

.skills--text ul{
    list-style: none;
    color: #8892B0;
    padding-top: 20px;
    font-family:  'Roboto Mono', monospace;
}

.skills--text span{
    color: #48b9a6;
}

.skills--text h4{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 20px;
}



/*=============================================================
                PROJETOS
=============================================================*/


.projetos--area{
    display: flex;
    padding-top: 100px;
    align-items: center;
    text-align: center;
   
}

.projetos--img1 img ,
.projetos--img2 img{
    height: 200px;
    margin: 20px;
    border: #48b9a6 3px solid;
    padding: 10px;
    background-image: linear-gradient(to right,  rgb(1, 253, 253) , rgb(253, 1, 253));
}
.projetos--img1 img:hover,
.projetos--img2 img:hover{
    filter: contrast(1) brightness(0.5) saturate(1);
}

.projetos--area h2 {
    font-size: 20px;
}

/*=============================================================
               CONTATO
=============================================================*/

.contato{
    
    display: flex;
    justify-content: center;
    margin: 30px;
    
}

.contato--area{
    display: flex;
    margin: 10px;
    padding-top: 100px;
    
}

.email--area{
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

.tel--area{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
}

.tel--area a ,
.email--area a{
    text-decoration: none;
    color:#48b9a6;
    border: #48b9a6 2px solid;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;
    margin: 20px;
    padding: 20px;
}

.tel--area img ,
.email--area img{
    width: 20px;
    height: 20px;
}



/*=============================================================
              FOOTER
=============================================================*/



footer{
    height:100px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div{
    font-family:  'Roboto Mono', monospace;
    color:#48b9a6;
}

footer img{
    width: 20px;
}


/*=============================================================
              RESPONSIVIADE
=============================================================*/

@media  (max-width: 625px) {
   
    header{
        margin: 20px;
    }
    header {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        
    }
    .section--1{
        padding-left: 30px;
        min-height: 100vh;
       
    }
    .menu {
        flex:1;
        display:flex;
        align-items: center;
        margin: 20px;
        padding-right: 20px;
    }

    .menu li{
        margin: 0;
        padding: 0;
        font-size: 10px;
    }

    .logoimg img{
        width: 50px;
        height: 50px;
        padding-left: 10px;
    }

    .tel--area a,
    .email--area a {
        font-size: 10px;
    }
    
    .name h1{
        font-size: 30px;
    }

    .introduction{
        width: 300px;
    }

    .about--text h4{
        font-size: 12px;
    }

    .build h1{
        font-size: 30px;  
    }

    .about--text{
        width: 300px;
        padding-top: 150px;
        color: #8892B0;
    }

    .link{
        flex-direction: column;
        padding: 10px;
        align-items:center;
        margin: 10px;
    }

    .space{
        padding-top: 30px;
        padding-right: 30px ;
    }

    .about--style{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bar{
        display: block;
        top:0;
        width: 0;
        height: 2px;
        margin-left: 0;
        background-color:#CCD6F6;
    }

    .about--text{
    width: 300px;
    padding-right: 0px;
    padding-top: 50px;
    color: #8892B0;
    }

    .skills--text{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 300px;
        padding-right: 0;
        padding-top: 50px;
        flex-direction: column;
    }

    .skills--text ul {
        font-size: 10px;
    }
    
    .projetos--area{
        flex-direction: column;
    }

    .contato{
        display: flex;
        justify-content: center;
        margin: 30px;
    }
    
    .contato--area{
        display: flex;
        margin: 10px;
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    .email--area{
        padding-bottom: 30px;
    }
    .menu li a {
        padding-left:20px;
        padding-right:20px;
    }

    .projetos--img1 img ,
    .projetos--img2 img{
    height: 110px;
    }

    .menu li a {
        color:#48b9a6;
        text-decoration: none;
        padding-left:5px;
        padding-right:5px;
        display:flex;
        align-items:center;
    }

    .cards{
        flex-direction: column;
       
    }
}




















@media  (max-width: 1000px) and (min-width: 626px) {

    header{
        margin: 200px;
    }

    header {
        width: 100%;
        margin: 0; 
    }
    
    .section--1{
        padding-left: 50px;
        padding-bottom: 200px;
        min-height: 100vh;
    }

    .menu {
        flex:1;
        display:flex;
        align-items: center;
        margin: 20px;
        padding-right: 20px;
    }

    .menu li{
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    
    .name h1{
        font-size: 40px;
    }

    .introduction{
        width: 300px;
    }

    .about--text h4{
        font-size: 12px;
    }

    .build h1{
        font-size: 40px;    
    }

    .about--text{
        width: 300px;
        padding-top: 150px;
        color: #8892B0;
    }

    .link{
        padding: 10px;
        align-items:flex-end;
        margin: 10px;
    }

    .space{
        padding-top: 30px;
    }

    .about--style{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bar{
        display: block;
        top:0;
        width: 0;
        height: 2px;
        margin-left: 0;
        background-color:#CCD6F6;
    }

    .about--text{
    width: 300px;
    padding-right: 0px;
    padding-top: 50px;
    color: #8892B0;
}
    .skills--text{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 500px;
        padding-right: 0;
        padding-top: 50px;
        flex-direction: column;
    }
   
    .projetos--area{
        flex-direction: column;
    }

    .contato{
    
        display: flex;
        justify-content: center;
        margin: 30px;
        align-items: center;
    }
    
    .contato--area{
        display: flex;
        margin: 30px;
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .email--area{
        padding-bottom: 30px;
    }

    .menu li a {
        padding-left:20px;
        padding-right:20px;
    }

    .projetos--img1 img ,
    .projetos--img2 img{
    height: 200px;
    }

    .menu li a {
        padding-left:5px;
        padding-right:5px;
        display:flex;
        align-items:center;
    }
}
